body{
    background: #F1F4F5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: 'Nunito', sans-serif;
}

body main{
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

section{
    padding: 10px;
}

.title_body{
    margin: auto;
    width: 25em;
}

main .titulo, div.descripcion{
    color: #00395D;
    opacity: 1;
    text-align: center;
}

main .titulo{
    font-weight: bold;
    font-size: 38px;
}

main .descripcion{
    font-size: 12px;
    letter-spacing: 0px;
    padding: 15px 10px;
}

main .form{
    /* text-align: center; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
    opacity: 1;
    padding: 50px 0;
    margin: auto;
    min-width: 45%;
    width: 25em;
    min-height: 25em;
}

main .num{
    font-size: 24px;
}

main label{
    margin-left: 10px;
    color: #00395D;
}

main .form_panel > div{
    padding: 10px 50px;
}

main .form select{
    color: #00395D;
    width: 100%;
    padding: 4px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 3px;
    opacity: 1;
    margin-left: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

main .mat_new_users{
    font-size: 12px;
    margin-left: 50px;
    margin-top: 10px;
    display: block !important;
}

main .form .fila div{
    display: inline-flex;
}

.recordatorios{
    margin-top: 15px;
}

div.checkboxes{
    padding: 10px 66px;
    font-size: 12px;
}
div.checkboxes > div{
    margin: 5px 0;
    width: 50%;
}

main button.btn{
    background: #00395D 0% 0% no-repeat padding-box;
    border-radius: 9px;
    border: none;
    padding: 6px 50px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 18px;
    margin: auto;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

div.selected_options{
    width: 100%;
    padding: 0 0 0 50px;
}

div.selected_options ul{
    list-style-type: none;
    padding: 0;
}

div.selected_options ul li{
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    color: #fff;
    font-size: 10px;
    padding: 5px 25px 5px 15px;
    display: inline-block;
    margin: 3px 5px;
}

div.selected_options a{
    position: relative;
    cursor: pointer;
    right: -12px;
}

#success{
    display: none;
    margin-top: 60px;
}

.mensaje{
    text-align: center;
    color: #00395D;
    font-size: 24px;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

@media only screen and (max-width: 1500px) {
    div.checkboxes{
        padding: 10px 34px;
    }
}

@media only screen and (max-width: 1250px) {
    div.checkboxes{
        padding: 10px 0px;
    }
    div.checkboxes > div{
        padding: 10px 0px;
        font-size: 12px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100% !important;
    }
    div.checkboxes{
        padding: 10px 0px;
    }
    div.checkboxes > div{
        padding: 10px 0px;
        font-size: 12px;
        width: 100%;
    }
    main .descripcion{
        font-size: 12px;
        letter-spacing: 0px;
        padding: 15px 45px;
    }
}